.cookie
  p.cookie__desc
    |Для повышения удобства сайта мы используем cookie. Оставаясь на сайте, вы соглашаетесь с <a class="cookie__link hidden-dlink" data-al="#">политикой их применения</a>.
  button.common__button.cookie__button.js-bubble-hover.bubble-hover.bubble-hover__button.js-close-cookie
    span
      |Принимаю