header.header
    .container
        .header__inner
            div.logo
                //a.logo__link(href="")
                img.logo__image(src="images/logo.png", alt="")
            aside.header__aside
                div.header__rows
                    div.header__row.header__row--top
                        button.header__button.header__button--no-backing
                            svg(width="15" height="15")
                                use(xlink:href="#cabinet-icon")
                            |Личный кабинет
                        a.header__phone(href="tel:")
                            |+7 343 363 74 09
                        // a.header__phone(href="tel:")
                            |+7 343 363 74 09
                        button.header__button.js-popup-button.js-bubble-hover.bubble-hover.bubble-hover__button(data-popup-for='appointment-popup')
                            span
                                |Записаться на прием
                    div.header__row
                        nav.menu.header__menu
                            ul.menu__list
                                li.menu__item.menu__item--active
                                    //a.menu__link(href="")
                                    |О нас
                                li.menu__item
                                    a.menu__link(href="")
                                        |Услуги и цены
                                li.menu__item
                                    a.menu__link(href="")
                                        |Специалисты
                                li.menu__item
                                    a.menu__link(href="")
                                        |Отзывы
                                li.menu__item
                                    a.menu__link(href="")
                                        |Пациентам
                                li.menu__item
                                    a.menu__link(href="")
                                        |Контакты
                                li.menu__item
                                    button.menu__button.menu__button--search
                                        svg(width="15" height="15")
                                            use(xlink:href="#search-icon")
            div.burger.header__burger
                div.burger__stroke
