link(rel="stylesheet" href="style/normalize.min.css" type="text/css")
link(rel="stylesheet" href="style/swiper.min.css" type="text/css")
link(rel="stylesheet" href="style/choices.min.css" type="text/css")
link(rel="stylesheet" href="style/glightbox.min.css" type="text/css")
link(rel="stylesheet" href="style/main.min.css" type="text/css")