section.hidden-block
    div.hidden-block__background
    //- button.hidden-block__close-button.js-close-popup-button
    div.hidden-block__container
        .hidden-block__wrapper
            section.review-popup.popup.hidden-block__popup(data-popup="review-popup")
                button.hidden-block__close-button.popup__close-button.js-close-popup-button
                p.popup__title
                    |Оставить отзыв
                p.popup__subtitle
                    | Оцените параметры по 5-бальной шкале, где 5 – очень хорошо, 1 – очень плохо. Обратите внимание, поля со звездочкой <span>*</span> – обязательны для заполнения.
                form.popup__form.form(action="")
                    .form__row
                        .form__group
                            label.form__label(for="")
                                | Клиника
                            select.js-choice(name="", type="select", id="popup-clinic")
                                option Клиника на Мамина-Сибиряка, 128
                                option Клиника на Академика Шварца, 14
                    .form__row
                        .form__group
                            label.form__label(for="")
                                | Услуга
                            select.js-choice(name="", type="select", id="popup-services")
                                option(value='')
                                option Клиника на Мамина-Сибиряка, 128
                                option Клиника на Академика Шварца, 14
                    .form__row
                        .form__group
                            label.form__label(for="")
                                | ФИО <span class="common-req-sign">*</span>
                            input.form__input(type="text", data-req="req")
                    .form__row
                        .form__group
                            label.form__label(for="")
                                | Телефон <span class="common-req-sign">*</span>
                            input.form__input.error(type="text", data-req="req", name="phone")
                    .form__row
                        .form__group.form__group--checkbox
                            input.form__checkbox-input(type="checkbox", id="checkbox-1")
                            label.form__checkbox-label(for="checkbox-1")
                                span.form__checkbox-description
                                    |Согласен на обработку 
                                    a(href="#") персональных данных
                    .form__row
                        .form__group
                            button.common__button.common__button--medium.form__button
                                |Отправить заявку