doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/choices.css" type="text/css")
        link(rel="stylesheet" href="style/glightbox.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Династия
    body
      div(style="display: none")
          include ../../build/images/sprite.svg
      //= partials/header.pug
      main.main.inner-page


      section.page-404
        p.page-404__number
          |404
        h3.page-404__heading
          |Страница не найдена
        p.page-404__desc
          |Вы неправильно набрали адрес. Возможно такой страницы больше не существует. Воспользуйтесь главным меню, чтобы перейти на другую страницу.
        p.page-404__desc
          |Вы также можете <a class="page-404__link hidden-dlink" data-al="/">вернуться на главную страницу.</a>

      //= partials/footer.pug
      //= partials/popup.pug
      script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
      script(src="https://unpkg.com/imask")
      script(src="script/vendor.js")
      script(src="script/script.js")