

@keyframes spoiler {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.accordion
  border-radius 10px
  custom-border(#e2e2e2)
  background-color #fff
  transition box-shadow 0.3s ease
  // cursor pointer

  &:not(:last-of-type)
    margin-bottom 12px
  &:hover 
    @media desktop-hover
      box-shadow 3px 4px 30px rgba(0, 0, 0, 0.15)
    .accordion__title
      border-bottom-color transparent
  &.opened
    box-shadow 3px 4px 30px rgba(0, 0, 0, 0.15)
    .accordion__head
      padding-bottom 20px
      svg 
        transform rotate(45deg)
    .accordion__body
      display block
      animation: spoiler 1s;
    .accordion__title
      border-bottom-color transparent
      
  &__head
    position relative
    // display flex
    // justify-content space-between
    padding 46px 95px 41px 49px
    cursor pointer
    @media phone 
      padding 20px
    svg
      position absolute
      right 44px
      top 42px
      flex-shrink 0
      transition 0.3s ease 
      @media phone 
        display none
  &__title
    display inline
    max-width: 886px
    margin-right 20px
    color #000
    font-size 26px
    font-weight 400
    line-height 30px
    border-bottom 1px dotted #000
    transition 0.3s ease
    @media phone 
      margin-right 0
      font-size 22px
      line-height 24px
  &__body 
    display none
    padding 0 44px 39px 49px
    @media phone 
      padding 0 20px 20px
  &__text 
    max-width 886px
    color #000
    & p
      margin 0
      letter-spacing -0.36px
    & p:not(:last-child)
      margin 0 0 19px 0
  &__item
    &:not(:last-of-type)
      margin-bottom 20px
  &__item-name
    margin 0 0 4px 0
    color gray
  &__item-value
    margin 0
    color #000
    text-decoration none
    letter-spacing -0.36px