.breadcrumps 
  &__list
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
    margin 0
    padding 0
    list-style-type none
    @media phone 
      justify-content flex-start
  &__item 
    color #afafaf
    font-size 14px
    font-weight 400
    line-height 26px
    &:not(:last-child)
      &:after
        content "/"
        padding 0 8px
  &__link
    border-bottom: 1px solid #afafaf
    color inherit 
    text-decoration none
    transition 0.3s ease
    &:hover 
      border-bottom-color: transparent



.inner-intro
  text-align center
  padding 93px 0 57px
  @media tablet-portrait-large 
    padding 40px 0 57px
  @media phone 
    text-align left

  &.inner-intro--left
    text-align left
    & > .container
      max-width 1130px
      @media laptop 
        max-width 978px
    .breadcrumps__list 
      justify-content flex-start

  &.inner-intro__custom
    max-width 500px
    margin-bottom 38px
    padding 0
    text-align left
    z-index 1
    @media tablet-landscape-small
        max-width: 450px
    @media tablet-portrait-large
        max-width 100%
    & > .container
      padding 0
    .inner-intro__breadcrumps
      max-width 500px
      @media tablet-landscape-small
        max-width: 450px
      @media tablet-portrait-large
        max-width: 100%
    .breadcrumps__list 
      justify-content flex-start
    .inner-intro__page-heading
      z-index 1 
  &__breadcrumps
    margin-bottom 21px