.contacts
  &.branches
    padding 0
  &__text 
    margin 84px 0 0 191px
    @media tablet-portrait-large
      margin-left 0
  &__info-title
    margin 0 0 31px 0
    color black
    font-size 48px
    font-weight 400
    line-height 52px
  &__item
    margin-bottom 18px
  &__item-name
    margin-right 11px
    color black
    letter-spacing -0.36px
  &__item-value
    color black
    letter-spacing -0.36px
    &--link
      color deep-pink
      border-bottom 1px solid deep-pink
      text-decoration none
      transition 0.3s
      &:hover
        border-bottom-color: transparent
  &__requisites
    margin-top 84px
  &__requisites-title
    margin 0 0 31px 0
