.default
  max-width 1130px
  width 100%
  margin 0 auto
  padding 0 39px 15px

  @media laptop 
    max-width 978px
  @media tablet-landscape-medium
    max-width 964px
    padding 0 32px 15px
  @media tablet-portrait-small
    padding 0 20px 15px