.doctors
  &__branch-filter
    max-width: 628px
    width 100%
    margin 0 auto 60px
  &__list
    display flex
    flex-wrap wrap
    margin 0 -18px
    @media laptop
      margin 0 -16px

  &__item-wrap
    position relative
    flex 0 0 25%
    max-width 25%
    padding 0 18px
    margin-bottom 36px
    @media laptop
      padding 0 16px
    @media tablet-landscape-medium
      flex 0 0 33.333333%
      max-width 33.333333%
    @media tablet-portrait-medium
      flex 0 0 50%
      max-width 50%
    @media phone
      flex 0 0 100%
      max-width 100%

  &-item
    &__img-wrap
      position relative
      display flex
      align-items center
      justify-content center
      width 100%
      height 400px
      margin-bottom 25px
      border-radius 10px
      background-color #c9ccd1
      overflow hidden
      transition transform 0.3s ease
      @media phone
        height 350px

      &:hover 
        @media desktop-hover
          .doctors-item__img 
            transform scale(1.1)

    &__img
      // max-width 100%
      transition transform 0.3s ease
      // position absolute
      // top 50%
      // left 50%
      // display block
      // transform translate(-50%, -50%)
    &__info
      text-align center
    &__name 
      margin 0 0 13px 0
      color #000
      font-size 18px
      font-weight 400
      line-height 22px
      letter-spacing -0.36px
      span 
        display block
        text-transform uppercase
        letter-spacing normal
    &__ranks
      display flex
      align-items center
      justify-content center
      flex-wrap wrap
      width 90%
      margin 0 auto
    &__rank
      color gray
      font-size 16px
      font-weight 400
      line-height 20px
      margin-bottom 10px
      &:not(:last-child)
        margin-right 19px
  .choices__list--dropdown 
    max-height 270px

// Детальная специалиста
.doctor
  max-width: 1130px
  width 100%
  margin 0 auto
  padding 46px 39px 93px
  // @media laptop
  //   max-width: 978px
  @media tablet-landscape-medium
    padding 46px 32px 57px
  @media tablet-portrait-small
    padding 46px 20px 57px
  &__top
    margin-bottom 90px
    @media phone
        margin-bottom 50px
  &-top
    position relative
    display flex
    flex-direction column
    justify-content center
    min-height 580px
    &__img-wrap
      position absolute
      top 0
      right 0
      display flex
      max-width 508px
      height 100%
      border-radius 10px
      overflow hidden
      // @media laptop
      //   max-width: 434px
      @media tablet-portrait-large
        position static
        margin 0 auto 30px
    &__img
      max-width: 100%
    &__tags 
      display flex
      align-items center
      flex-wrap: wrap
      max-width 500px
      margin-bottom 33px
      @media tablet-landscape-small
        max-width: 450px
      @media tablet-portrait-large
        max-width 100%
      @media phone
        margin-bottom 24px
    &__text
      max-width 500px
      @media tablet-landscape-small
        max-width: 450px
      @media tablet-portrait-large
        max-width 100% 

      p
        margin 0
      & p:not([class]):not(:last-child)
        margin 0 0 24px 0
        letter-spacing -0.36px
  &__button
    margin-top 41px
    padding 12px 29px 11px 29px
    border-radius 24px
    background-color deep-pink
    color #fff
    font-size 20px
    font-weight 400
    line-height 24px
    border 0
    cursor pointer