.news
    display flex
    flex-wrap wrap
    align-items flex-start
    width calc(100% - 78px)
    max-width 1440px
    margin 0 auto
    padding 84px 0 92px 0
    @media tablet-landscape-medium
        width calc(100% - 64px)
    @media tablet-portrait-small
        width calc(100% - 40px)

    &__heading
        margin 0 0 42px 0

    &__list
        order 1
        display flex
        flex-wrap nowrap
        width calc(100% + 36px)
        margin 0 0 0 -36px
        padding 0
        list-style none
        @media laptop
            width calc(100% + 32px)
            margin 0 0 0 -32px
        @media tablet-portrait-large
            order 0
            flex-direction column
            width 100%
            margin 0

    &__item
        width calc(100% / 3 - 36px)
        margin 0 0 0 36px
        @media laptop
            width calc(100% / 3 - 32px)
            margin 0 0 0 32px
        @media tablet-portrait-large
            width 100%
            margin 0 0 36px 0

    &__link
        position relative
        top 29px
        margin 0 0 0 auto
        @media tablet-portrait-large
            position static
            margin 0

.news-preview
    &__img-wrap
        position relative
        display flex
        align-items center
        justify-content center
        width 160px
        height 100px
        margin 5px 0 25px
        border-radius 10px
        overflow hidden
    &__img
        max-width: 100%
    &__date
        position relative
        display block
        margin 0 0 8px 0
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color gray

    &__link
        position relative
        color black
        text-decoration none
        border-bottom 1px solid black
        outline none
        transition border .3s 0s ease

        &:hover
            border-bottom 1px solid transparent

    &__description
        position relative
        margin 21px 0 0 0
        font-family "Spectral"
        font-size 18px
        line-height 26px
        font-weight 400
        color black
        letter-spacing -0.36px

.i-news
    &__list
        display flex
        flex-wrap wrap
        height 100%
        margin 0 -18px
        @media tablet-landscape-medium
            margin 0 -16px
        @media tablet-portrait-small
            margin 0 -10px
    &__item-wrap
        position relative
        flex 0 0 33.333333%
        max-width 33.333333% 
        width 100%
        padding 0 18px
        margin-bottom 32px
        @media tablet-landscape-medium
            flex 0 0 50%
            max-width 50% 
            padding 0 16px
        @media tablet-portrait-medium
            flex 0 0 100%
            max-width 100% 
            padding 0 10px
        @media phone 
            margin-bottom 20px
    
    .news-preview
        height 100%
        padding 43px 48px 41px
        border-radius 10px
        custom-border(#e2e2e2)
        background-color #fff
        @media phone
            padding 20px

    &__item
        transition box-shadow 0.3s ease
        &:hover
            @media desktop-hover
                box-shadow 3px 4px 30px rgba(0, 0, 0, 0.15)
            
.news-element
    position relative
    max-width: 1130px
    width 100%
    margin 0 auto
    padding 0 39px 17px
    @media laptop
        max-width 978px
    @media tablet-landscape-medium
        padding 0 32px 17px
    @media tablet-portrait-small
        padding 0 20px 17px
    &__description
        
        color #000
        letter-spacing -0.36px
        p
            margin 0 0 24px 0

        span 
            color #afafaf
    &__slider
        max-width 654px
        margin 31px 0 44px
    &__date
        display inline-block
        margin-top 11px


.news-slider
    &__img-wrap
        display flex
        align-items center
        justify-content center
        width 100%
        height 360px
        border-radius 10px
        overflow hidden
        @media tablet-portrait-small
            height auto
    &__img
        max-width 100%
    &__info 
        width calc(100% - 75px)
        margin 24px 0 0
        color gray
        letter-spacing -0.36px
        @media tablet-portrait-small
            width 100%
            text-align center
            
    &__pagination
        display none
        @media tablet-portrait-small
            display flex
            flex-wrap wrap
            justify-content center
            margin 32px 0 0 0
        @media phone
            margin 24px 0 0 0
    &__arrows
        position absolute
        right 0
        top 388px
        display flex
        justify-content space-between
        align-items center
        width 75px
        height 21px
        padding-left 20px
        background #fff
        z-index 2
        @media tablet-portrait-small
            display none
            top 95%
        @media phone
            top 92%
    &__arrow
        opacity 1
        outline none
        cursor pointer
        transition opacity .5s 0s ease
        z-index 1
        svg
            fill none
            stroke black
            stroke-width 2px
            stroke-dasharray 54px
        &:not(.swiper-button-disabled):hover
            svg 
                animation arrow-drawing
                animation-duration 1s
                animation-timing-function ease
                animation-iteration-count 1
        &.swiper-button-disabled
            opacity .15
            cursor default