.questions
  width calc(100% - 78px)
  max-width 1052px
  margin 0 auto
  padding 93px 0
  @media laptop
    max-width: 900px
  @media tablet-landscape-medium
    width calc(100% - 64px)
  @media tablet-portrait-small
    width calc(100% - 40px)

  &__heading
    margin-bottom 37px
    text-align center

  &__link-wrapper
    margin 46px 0 0
    text-align center
  &__btn
    padding 12px 30px
    font-size 20px
    font-weight 400
    line-height 24px
    border-radius 23px

