.reviews
    position relative
    width calc(100% - 78px)
    max-width 1440px
    margin 0 auto
    padding 90px 0 93px 0
    @media laptop
        width calc(100% - 64px)
    // @media tablet-landscape-medium
    //     width calc(100% - 64px)
    @media tablet-portrait-small
        width calc(100% - 40px)

    &::before
        content ""
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        display block
        width 100vw
        height 100%
        background-color lightest-gray

    &__heading
        position relative
        margin 0 0 46px 0

    &__link-wrapper
        position relative
        margin 44px 0 0 0
        text-align center
        @media phone
            text-align left
    &__btn
        padding 12px 30px
        font-size 20px
        font-weight 400
        line-height 24px
        border-radius 23px

    &-form
        &--position
            margin-bottom 25px

.reviews-slider
    position relative
    overflow visible

    &__list
        display flex
        flex-wrap nowrap
        height auto
        margin 0
        padding 0
        list-style none

    &__item
        flex-shrink 0
        width calc(50% - 18px)
        @media laptop
            width calc(50% - 16px)
        @media tablet-portrait-large
            width 100%

    &__arrows
        position absolute
        top -97px
        right 0
        z-index 1
        display flex
        flex-wrap nowrap
        justify-content space-between
        width 80px
        height 37px
        @media phone
            top -87px

    &__arrow
        opacity 1
        outline none
        cursor pointer
        transition opacity .5s 0s ease

        & svg
            fill none
            stroke black
            stroke-width 1.2px
            stroke-dasharray 54px

.reviews-slider__arrow:not(.swiper-button-disabled):hover
    & svg
        animation arrow-drawing
        animation-duration 1s
        animation-timing-function ease
        animation-iteration-count 1

.reviews-slider__arrow.swiper-button-disabled
    opacity .15
    cursor default
    
.review
    position relative
    width 100%
    min-height 360px
    max-height 360px
    background-color white
    border-radius 10px
    overflow hidden
    @media phone
        min-height 480px
        max-height 480px

    &::before
        content ""
        position absolute
        bottom 0
        left 0
        z-index 1
        display block
        width 100%
        height 50%
        background linear-gradient(to top, white 0 50%, rgba(255,255,255,0))
        transition height 1s 0s ease
        @media phone
            height 35%

    &__info
        position absolute
        top 45px
        left 50px
        width calc(100% - 90px)
        @media tablet-landscape-medium
            top 40px
            left 40px
            width calc(100 - 80px)
        @media tablet-portrait-small
            top 30px
            left 30px
            width calc(100% - 60px)
        @media phone
            top 20px
            left 20px
            width calc(100% - 40px)

    &__date
        margin 0 7px 0 0
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color gray

    &__author
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black

    &__description
        margin 13px 0 0 0
        letter-spacing -0.36px

    &__button
        position absolute
        bottom 50px
        left 50px
        z-index 1
        opacity 0
        visibility hidden
        transition opacity .5s 0s ease, visibility 0s .5s linear, bottom .5s 0s ease, background-color .3s 0s ease
        @media tablet-landscape-large
            opacity 1
            visibility visible
        @media tablet-landscape-medium
            bottom 40px
            left 40px
        @media tablet-portrait-small
            bottom 30px
            left 30px
        @media phone
            bottom 20px
            left 20px

.review:hover
    &::before
        height 60%

    & .review__button
        opacity 1
        visibility visible
        transition opacity .5s 0s ease, visibility 0s 0s linear, bottom .5s 0s ease, background-color .3s 0s ease

.i-reviews
    max-width: 1130px
    width 100%
    margin 0 auto
    padding 0 39px 35px
    @media laptop
        max-width 978px
    @media tablet-landscape-medium
        padding 0 32px 35px
    @media tablet-portrait-small
        padding 0 20px 35px
    &__title 
        margin 0 0 41px 0
        color black
        font-size 36px
        font-weight 400
        line-height 40px
    &__link-wrapper
        margin 51px 0 20px
    &__link 
        display inline-block
        line-height 20px
    &__button 
        display block
        margin-left auto
        margin-right auto
        margin 0 auto 59px
    &__list
        & + .pagination--position
            margin-top 50px

.i-review
    position relative
    width 100%
    padding 43px 48px 38px
    background-color #fff
    border-radius 10px
    border 1px solid #e2e2e2
    overflow hidden
    @media phone
        padding 24px 24px 22px

    &:not(:last-of-type) 
        margin-bottom 32px
    &__date
        display inline-block
        margin 0 7px 0 0
        font-size 18px
        line-height 22px
        font-weight 300
        color gray

    &__author
        display inline-block
        font-size 18px
        line-height 22px
        font-weight 300
        color black

    &__description
        margin 15px 0 0 0
        letter-spacing -0.36px
        h6 
            margin 35px 0 16px
            letter-spacing normal
    &__tags
        margin-top 31px
    &__tag
        padding 5px 17px 4px
        font-size 14px
        font-weight 400
        line-height 18px
        letter-spacing normal
        border-radius 14px
    &.answer
        margin-top -22px
        margin-left: 50px
        padding 33px 50px 31px
        border none
        background-color deep-pink
        color #fff
        @media tablet-portrait-medium 
            margin-left 0
        @media phone 
            padding 24px
        .i-review__description
            margin 0 0 15px
            & p:not([class])
                color #fff
        .i-review__author
            color #fff
            letter-spacing -0.36px
        .i-review__date 
            color #d16f94

.review-text-popup
    .review
        min-height auto
        max-height auto
        height auto
        margin-bottom 40px
        &:before 
            display none
        &__info 
            position static
            width 100%