.services
    width calc(100% - 78px)
    max-width 1440px
    margin 0 auto
    padding 89px 0 103px 0
    @media tablet-landscape-medium
        width calc(100% - 64px)
    @media tablet-portrait-small
        width calc(100% - 40px)

    &__heading
        display block
        margin 0 0 50px 0
        text-align center
        @media phone
            text-align left

    &__container
        margin 77px 0 0 0

    &__list
        display grid
        grid-template-columns 1fr 1fr 1fr 1fr
        grid-template-rows auto
        grid-gap 40px

        // display flex
        // flex-direction column
        // flex-wrap wrap
        // height 538px

        margin 0
        padding 0
        list-style none
        // @media laptop
        //     grid-gap 32px
        @media tablet-portrait-large
            grid-template-columns 1fr 1fr 1fr
        @media tablet-portrait-medium
            grid-template-columns 1fr 1fr
        @media tablet-portrait-small
            grid-column-gap 20px
            grid-row-gap 32px
        @media phone
            grid-template-columns 1fr         

    &__item
        position relative
        display flex
        align-items center
        box-sizing border-box
        padding 0 0 0 60px

        // flex 0 0 25%
        // max-width: 25%
        // min-height: 59px

    &__icon
        position absolute
        left 0px
        top 50%
        transform translateY(-50%)
        display block
        width 44px
        height 44px

    &__link
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black
        text-decoration none
        transition .3s 0s ease

        &:hover
            color bright-pink

.services__list.js-content-is-hidden
    display none

.i-services
    &__container
        margin 69px 0 0 0
        @media phone
            margin 36px 0 0 0
    &__list
        display flex
        flex-wrap wrap
        margin 0 -18px
        @media tablet-landscape-medium
            margin 0 -16px
        @media tablet-portrait-small
            margin 0 -10px

        &.js-content-is-hidden
            display none
    &__item-wrap
        flex 0 0 33.333333%
        max-width 33.333333%
        width 100%
        padding 0 18px
        margin-bottom 32px
        @media tablet-landscape-medium
            flex 0 0 50%
            max-width 50%
            padding 0 16px
        @media tablet-portrait-medium
            flex 0 0 100%
            max-width 100%
        @media tablet-portrait-small
            padding 0 10px
        @media phone 
            margin-bottom 10px
    &__item
        position relative
        display block
        min-height 186px
        padding 43px 48px
        border-radius 10px
        custom-border(#e2e2e2)
        background-color #fff
        text-decoration none
        transition: box-shadow 0.3s
        @media phone
            min-height 145px
            padding 30px 20px

        &:hover 
            @media desktop-hover
                box-shadow 3px 4px 30px rgba(0, 0, 0, 0.15)
                .i-services__name
                    border-bottom-color transparent
    &__name-wrap
        position relative
        max-width 268px
        z-index 1
        @media phone
            max-width 180px
    &__name
        margin 0
        color #000
        border-bottom 1px solid #000
        font-size 26px
        font-weight 400
        line-height 32px
        transition: 0.3s ease
        @media phone
            font-size 20px
            line-height 26px

    &__img-wrap
        position absolute
        bottom 0
        right 13px
        display flex
        align-items flex-end
        // justify-content center
        width 170px
        height 156px
        @media tablet-portrait-large
            right 0
            justify-content center
        @media phone
            width 110px
            height 110px
    &__img
        max-width 100%
        max-height 100%
        @media phone
            max-width 100%
