.services
    width calc(100% - 78px)
    max-width 1440px
    margin 0 auto
    padding 89px 0 103px 0
    @media tablet-landscape-medium
        width calc(100% - 64px)
    @media tablet-portrait-small
        width calc(100% - 40px)

    &__heading
        display block
        margin 0 0 50px 0
        text-align center
        @media phone
            text-align left

    &__container
        margin 77px 0 0 0

    &__list
        display grid
        grid-template-columns 1fr 1fr 1fr 1fr
        grid-template-rows auto
        grid-gap 40px

        // display flex
        // flex-direction column
        // flex-wrap wrap
        // height 538px

        margin 0
        padding 0
        list-style none
        // @media laptop
        //     grid-gap 32px
        @media tablet-portrait-large
            grid-template-columns 1fr 1fr 1fr
        @media tablet-portrait-medium
            grid-template-columns 1fr 1fr
        @media tablet-portrait-small
            grid-column-gap 20px
            grid-row-gap 32px
        @media phone
            grid-template-columns 1fr         

    &__item
        position relative
        display flex
        align-items center
        box-sizing border-box
        padding 0 0 0 60px

        // flex 0 0 25%
        // max-width: 25%
        // min-height: 59px

    &__icon
        position absolute
        left 0px
        top 50%
        transform translateY(-50%)
        display block
        width 44px
        height 44px

    &__link
        font-family "Spectral"
        font-size 18px
        line-height 22px
        font-weight 300
        color black
        text-decoration none
        transition .3s 0s ease

        &:hover
            color bright-pink

.services__list.js-content-is-hidden
    display none

.i-services
    &__container
        margin 69px 0 0 0
        @media phone
            margin 36px 0 0 0
    &__list
        display flex
        flex-wrap wrap
        margin 0 -18px
        @media tablet-landscape-medium
            margin 0 -16px
        @media tablet-portrait-small
            margin 0 -10px

        &.js-content-is-hidden
            display none
    &__item-wrap
        flex 0 0 33.333333%
        max-width 33.333333%
        width 100%
        padding 0 18px
        margin-bottom 32px
        @media tablet-landscape-medium
            flex 0 0 50%
            max-width 50%
            padding 0 16px
        @media tablet-portrait-medium
            flex 0 0 100%
            max-width 100%
        @media tablet-portrait-small
            padding 0 10px
        @media phone 
            margin-bottom 10px
    &__item
        position relative
        display block
        min-height 186px
        padding 43px 48px
        border-radius 10px
        custom-border(#e2e2e2)
        background-color #fff
        text-decoration none
        transition: box-shadow 0.3s
        @media phone
            min-height 145px
            padding 30px 20px

        &:hover 
            @media desktop-hover
                box-shadow 3px 4px 30px rgba(0, 0, 0, 0.15)
                .i-services__name
                    border-bottom-color transparent
    &__name-wrap
        position relative
        max-width 268px
        z-index 1
        @media phone
            max-width 180px
    &__name
        margin 0
        color #000
        border-bottom 1px solid #000
        font-size 26px
        font-weight 400
        line-height 32px
        transition: 0.3s ease
        @media phone
            font-size 20px
            line-height 26px

    &__img-wrap
        position absolute
        bottom 0
        right 13px
        display flex
        align-items flex-end
        // justify-content center
        width 170px
        height 156px
        @media tablet-portrait-large
            right 0
            justify-content center
        @media phone
            width 110px
            height 110px
    &__img
        max-width 100%
        max-height 100%
        @media phone
            max-width 100%

.service
    &__info 
        margin-bottom 85px
        @media phone 
            margin-bottom 40px
    &__info-hero
        position relative
        height 560px
        padding 40px 49px
        border-radius 10px
        background-color lightest-gray
        overflow hidden
        @media tablet-portrait-large
            margin-bottom 92px
        @media tablet-portrait-medium
            height auto
        @media phone
            height auto
            margin-bottom 52px
            padding 32px

        &--position
            margin-bottom 128px
        
    &__info-img
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        object-fit cover
        @media tablet-portrait-medium
            display none
    &__info-text
        position relative
        max-width 500px
        color #000
        font-size 22px
        font-weight 400
        line-height 32px
        z-index 1
        @media tablet-portrait-medium
            font-size 18px
            line-height 22px
        p 
            margin 0 0 24px 0
            line-height 32px
            letter-spacing -0.44px
            @media tablet-portrait-medium
                line-height 22px

    &__menu
        position relative
        display flex
        align-items center
        justify-content center
        margin-bottom 92px
        z-index 1001
        @media tablet-portrait-large
            display none
        &--fixed
            position fixed
            top 143px
            left 0
            right 0
            margin 0
            // z-index 1001
        .menu__list
            padding 25px 47px
            background-color #fff
            box-shadow 3px 4px 30px rgba(0, 0, 0, 0.15)
            border-radius 10px

        .menu__item 
            @media phone 
                text-align center
        .menu__item--active
            .menu__link 
                border-bottom-color transparent
        .menu__link
            border-bottom 1px dotted #000
            transition border-bottom-color 0.3s ease
            &:hover 
                border-bottom-color transparent
    &__description
        max-width 1057px
        margin 0 auto
        @media laptop
            max-width: 900px

        h2
            margin 0 0 31px 0
        p
            letter-spacing -0.36px
    &__doctors
        margin-bottom 89px
        @media phone 
            margin-bottom 60px
        .doctors__item-wrap
            &:last-child
                @media tablet-landscape-medium 
                    display none
                @media tablet-portrait-medium
                    display block
    &__timeline.timeline
        margin-bottom 93px
        @media phone 
            margin-bottom 60px
    &__prices.prices
        margin-bottom 98px
        @media phone 
            margin-bottom 60px
    &__form 
        margin-bottom 101px
        @media phone 
            margin-bottom 60px
    &__branches.branches
        padding-bottom 17px
    &__questions
        padding 93px 0

.service__info-hero + .service__menu
    margin-top -37px
    @media phone 
        margin-top 24px
// .services-element__hero + .services-element__menu--fixed
//     top 133px

.timeline
    width calc(100% - 78px)
    max-width 1440px
    margin 0 auto
    padding 62px 0
    border-radius 10px
    background-color lightest-gray
    @media tablet-landscape-medium
        width calc(100% - 64px)
    @media tablet-portrait-small
        width calc(100% - 40px)
    @media phone
        padding 24px 0

    &__inner
        max-width 1057px
        width calc(100% - 78px)
        margin 0 auto
        @media laptop
            max-width: 900px
        @media phone
            width calc(100% - 48px)

    &__heading
        margin-bottom 31px
    &__schedule
        p
            margin 0
            letter-spacing -0.36px
        & p:not(:last-child) 
            margin 0 0 24px 0

.prices
    max-width 1057px
    width calc(100% - 78px)
    margin 0 auto
    @media laptop
        max-width: 900px
    @media tablet-landscape-medium
        width calc(100% - 64px)
    @media tablet-portrait-small
        width calc(100% - 40px)
    &__items
        &:not(:last-of-type)
            margin-bottom 44px
    &__items-heading
        margin 0 0 27px 0
        color black
        font-size 24px
        font-weight 400
        line-height 26px
    &__item
        display flex
        justify-content space-between
        padding 18px 26px
        border-radius 10px
        background-color #fff
        @media tablet-portrait-small
            flex-direction column
        &:nth-child(2n) 
            background-color #f5f5f5
    &__item-name
        width 80%
        margin 0
        letter-spacing -0.36px
        color #000
        @media tablet-portrait-small
            width 100%   
            margin-bottom 12px
    &__item-price
        letter-spacing -0.36px
        color #000

.services-links
    &__list
        display flex
        flex-wrap wrap
        margin 0 -18px
        @media tablet-portrait-large
            margin 0 -16px
    &__item-wrap
        position relative
        flex 0 0 33.333333%
        max-width 33.333333%
        width 100%
        padding 0 18px
        @media tablet-portrait-large
            padding 0 16px
        @media tablet-portrait-medium
            flex 0 0 50%
            max-width 50%
            margin-bottom 32px
        @media phone
            flex 0 0 100%
            max-width 100%
            margin-bottom 20px
    &__item
        display block
        width 100%
        height 542px
        padding 46px
        background-color #f6f6f6
        background-repeat no-repeat
        background-position center
        background-size cover
        border-radius 10px
        text-decoration none
        text-align center
        overflow hidden
        @media tablet-portrait-large
            height 370px
        @media phone
            height 434px
        &:hover 
            .services-links__item-name 
                border-bottom-color transparent
    &__item-name
        margin 0
        border-bottom: 1px solid #000
        color #000
        font-size 26px
        font-weight 400
        line-height 30px
        transition 0.3s ease


// FOR Safari
@supports (overflow:-webkit-marquee) and (justify-content:inherit)
    .i-services__img 
        width 100%